.tools-root {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--tools-bg);

  .tools-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4.5rem 0;
    gap: 1.4rem;
    .tools-header{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.2rem;
    }
    .tools-avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: #000;
      background: url("../../app/fonts/sap.png") no-repeat center;
      background-size: cover;
      box-shadow: 1px 1px 1.5px 2px rgba(59, 121, 246, 0.15);
    }

    h2 {
      margin: 0;
      font-size: 1.7rem;
      font-weight: 600;
    }

    .tools-subtitle {
      color: var(--tools-subtitle);
      font-size: 1.6rem;
      margin-bottom: 2rem;
      font-style: italic;
    }
  }

  .tools-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem 4rem;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 4rem;
  }

  .tools-column {
    min-width: 200px;
    max-width: 240px;

    h4 {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.7rem;
      color: var(--tools-title);
    }

    ul {
      list-style: disc inside;
      padding-left: 0;
      margin: 0;
    }

    li {
      color: var(--tools-text);
      font-size: 1rem;
      margin-bottom: 0.3rem;
    }
  }
}

/* Thème dark */
.app.dark .tools-root {
  --tools-bg: #0d1023;
  --tools-title: #fff;
  --tools-text: #bfc7d5;
  --tools-subtitle: #bfc7d5;
}

/* Thème light */
.app.light .tools-root {
  --tools-bg: #f7f8fa;
  --tools-title: #222;
  --tools-text: #444;
  --tools-subtitle: #666;
  .tools-header .tools-avatar {
    border: 2px solid #222;
  }
}