$light-background-color: #d1fafaaf;
$light-text-color: #161b22;
$dark-background-color: #161b22;
$dark-text-color: #fff;
*{
  padding: 0;
  margin: 0;
}


.navi {
  background-color: #eee;
  padding: 20px;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    Link {
      text-decoration: none;
      color: #000;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      cursor: pointer;
      
    }
  }
}

.home, .profile {
  padding: 20px;
}
