$light-background-color: radial-gradient(ellipse 80% 60% at 10% 10%, #e7edff 60%, #fff 100%);;
$light-text-color: #030303;
$dark-background-color: #161b22;
$dark-text-color: #fff;
*{
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}


.navi {
  background-color: #eee;
  padding: 20px;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    Link {
      text-decoration: none;
      color: #000;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      cursor: pointer;
    }
  }
}

.home, .profile {
  padding: 20px;
}
