.contributions {
  text-align: center;

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.yearSelector {
  .yearSelectorButton {
    border: none;
    padding: 5px 0px;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    background-color: transparent;

    &:hover {
      background-color: #30363d;
    }
    
    &.active {
      background-color: #2ea2f0;
      color: #fff;
    }
  }
}
.contribution-github {
  padding: 20px;
  border-radius: 6px;
  //max-width: calc(53 * 13px + 60px);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: #c9d1d9;

  .contribution-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .contribution-count {
      color: #3d3f42;
      font-size: 19px;
    }

    .contribution-settings {
      color: #3d3f42;
      font-size: 14px;
    }
  }

  .contribution-content {
    display: flex;
    gap: 20px;
  }

  .contribution-graph {
    border-radius: 6px;
    padding: 8px;
    flex: 1;

    .months-container {
      display: flex;
      margin-left: 2px;
      margin-bottom: 5px;
      width: calc(53 * 13px);
      justify-content: space-between;

      .month {
        color: #7d8590;
        font-size: 12px;
      }
    }

    .days-and-squares {
      display: flex;

      .days-of-week {
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        justify-content: space-between;

        .day {
          height: 15px;
          color: #7d8590;
          font-size: 12px;
        }
      }

      .squares-container {
        display: flex;
        flex-wrap: wrap;
        width: calc(52 * 13px);
        gap: 2px;

        .contribution-square {
          width: 10px;
          height: 10px;
          border-radius: 2px;
          border: 1px solid #30363d;

          &.level-0 { background-color: #161b22; }
          &.level-1 { background-color: #0e4429; }
          &.level-2 { background-color: #008a40; }
          &.level-3 { background-color: #107d28; }
          &.level-4 { background-color: #2fe44d; }
        }
      }
    }

    .graph-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      color: #7d8590;
      font-size: 12px;

      .color-scale {
        display: flex;
        align-items: center;

        .scale-square {
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-right: 2px;
          border-radius: 2px;
          border: 1px solid rgba(27, 31, 35, 0.06);

          &.level-0 { background-color: #161b22; }
          &.level-1 { background-color: #0e4429; }
          &.level-2 { background-color: #006d32; }
          &.level-3 { background-color: #26a641; }
          &.level-4 { background-color: #39d353; }
        }
      }
    }
  }

  .yearSelector {
    .yearSelectorButton {
      border: none;
      padding: 5px 16px;
      border-radius: 6px;
      font-size: 14px;
      margin-bottom: 10px;
      cursor: pointer;
      width: 100%;
      text-align: left;
      background-color: transparent;
      color: #c9d1d9;

      &:hover {
        background-color: #30363d;
      }
      
      &.active {
        background-color: #4493f8;
        color: #fff;
      }
    }
  }

  .contribution-activity {
    margin-top: 30px;

    .activity-title {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: 600;
    }

    .activity-list {
      padding-top: 10px;

      .activity-month {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .month-name {
          font-size: 14px;
          color: #8b949e;
          margin-right: 10px;
          margin-bottom: 0;
          font-weight: 400;
        }

        .month-line {
          flex: 1;
          height: 1px;
          background-color: #30363d;
        }
      }

    }

    .show-more-container {
      text-align: center;
      margin-top: 20px;

      .show-more-button {
        background-color: #21262d;
        color: #c9d1d9;
        border: 1px solid #30363d;
        border-radius: 6px;
        padding: 5px 16px;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
