.navbar {
  display: flex;
  padding: 2px;
  border-bottom: 1px solid #333;
  margin-top: 6%;
}

.navbar a {
  text-decoration: none;
  color: #fff
}

.navbar a:hover {
  border-bottom: 2px solid red;
  cursor: pointer;
}
