.contribution-activity {
  background-color: #0d1117;
  // color: #c9d1d9;
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.month {
  font-size: 1.2em;
  margin-bottom: 20px;
  border-bottom: 1px solid #30363d;
  padding-bottom: 9px;
}

.timeline {
  margin-top: 20px;
}

.event {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.icon {
  font-size: 1.5em;
  margin-right: 10px;
}

.details {
  background-color: #161b22;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

h3 {
  font-size: 1em;
  margin-bottom: 5px;
}

ul {
  list-style: none;
  padding: 5px;
  margin: 0;
}

li {
  margin-bottom: 5px;
}