
.contribution-activity {
  //margin-top: 30px;

  .activity-title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .activity-list {
    padding-top: 10px;

    .activity-month {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .month-name {
        font-size: 14px;
        color: #8b949e;
        margin-right: 10px;
        margin-bottom: 0;
        font-weight: 400;
      }

      .month-line {
        flex: 1;
        height: 1px;
        background-color: #30363d;
      }
    }

    .activity-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 15px;
      position: relative;

      .activity-icon {
        margin-right: 16px;
        font-size: 16px;
        color: #8b949e;
        position: relative;
        z-index: 1;

        .icon-container {
          background-color: #30363d;
          border-radius: 50%;
          padding: 4px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
        }
      }

     

          .commit-count, .language-tag {
            background-color: #238636;
            color: #fff;
            padding: 2px 5px;
            border-radius: 10px;
            font-size: 12px;
            font-weight: 500;
          }

          .language-tag {
            background-color: #3178c6;
            margin-right: 5px;
          }

          .date {
            color: #8b949e;
            font-size: 12px;
          }
        }

        .activity-line {
          position: absolute;
          left: -33px;
          top: 24px;
          bottom: -95px;
          width: 2px;
          background-color: #30363d;
        }
      }

      .activity-menu {
        position: absolute;
        right: 0;
        top: 0;
        color: #8b949e;
        font-size: 16px;
        cursor: pointer;
        .action-icon {
          color: #a8c2ab;
        }
      }
    }
  }

  .show-more-container {
    text-align: center;
    margin-top: 20px;

    .show-more-button {
      background-color: #21262d;
      color: #c9d1d9;
      text-decoration: none;
      border: 1px solid #30363d;
      border-radius: 6px;
      padding: 5px 16px;
      font-size: 14px;
      cursor: pointer;

      &:hover {
       
        background-color: rgba(59, 121, 246, 0.15);
        color: #c9d1d9;
      }
    }
  }
}