.footer {
  padding: 20px;
  text-align: center;
}

.footer-content {
  width: 100%;
}


footer,
.footer,
.footer * {
  filter: none !important;
  backdrop-filter: none !important;
  opacity: 1 !important;
}
