.box {
  border-radius: 8px;
  border: 1px solid #333;
  padding: 24px;
  min-width: 18em;
  &:hover {
    cursor: pointer;
    transition: 0.4s all;
    border: 1px solid rgba(59, 121, 246, 0.15);
  }
}

